{% extends "layout.html" %}
{% block body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jcf/1.2.3/js/jcf.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jcf/1.2.3/js/jcf.radio.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jcf/1.2.3/js/jcf.checkbox.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jcf/1.2.3/js/jcf.select.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jcf/1.2.3/css/theme-minimal/jcf.css">

<body>
    <div id="main" class="m-scene">
        <div class="w3-container w3-center" style="background-color: black">
            <div class="w3-bar w3-center" style="font-family:BI; color:white; background-color: black;">
                <button class="w3-bar-item w3-button w3-hover-blue w3-center" onclick="openDTab('Profile')">{{ userData.name }}'s Profile | </button>
                <button class="w3-bar-item w3-button w3-hover-blue w3-center" onclick="openDTab('StockTable')">{{ userData.name }}'s Stock Portfolio | </button>
                <button style="" class="w3-bar-item w3-button w3-hover-blue w3-center" onclick="openDTab('FullDashboard')">{{ userData.name }}'s Dashboard</button>
            </div>
        </div>
        <div id="Welcome" class="pTab w3-display-middle">
            <h1 style="text-align:center" class="h2 scene_element scene_element--fadein">Welcome {{ userData.name }} to Stockenex!</h1><br>
        </div>
        <div id="Profile" class="pTab" style="display:none">
            <div id="iProf" class="w3-container w3-center" style="font-family: BI; color:white;">
                <h1 id="hIProf" style="text-align:center" class="h2 scene_element scene_element--fadein">{{ userData.name }}'s Profile</h1><br>
                <div id="userAT" class="scene_element scene_element--fadein" style="margin-left: auto;
    margin-right: auto; width:500px; font-family: BI"></div>
                <div id="userSubscr" class="scene_element scene_element--fadein">
                    <p>Subscription Model<br>There are 4 different subscription options. They are listed below.
                        Each package offers a set number of stock symbols you can add to your personal dashboard, which provides the full information for each stock.
                        <br>
                        1. Free — $0/month | Offers Two Stocks<br>
                        2. Basic — $10/month | Offers Ten Stocks<br>
                        3. Premium — $20/month | Offers Twenty Stocks<br>
                        4. Platinum — $50/month | Offers Fifty Stocks<br>
                    </p>
                </div>
                <div id="subscripButtons" class="scene_element scene_element--fadein">
                    <p id='freeS' style="color:white" class="w3-bar-item w3-button BIwhite">Upgrade to Free</p>
                    <p id='basicS' style="color:white" class="w3-bar-item w3-button BIwhite">Upgrade to Basic</p>
                    <p id='premiumS' style="color:white" class="w3-bar-item w3-button BIwhite">Upgrade to Premium</p>
                    <p id='platinumS' style="color:white" class="w3-bar-item w3-button BIwhite">Upgrade to Platinum</p>
                </div>
            </div>
        </div>
        <div id="StockTable" class="pTab" style="display:none">
            <h1 style="text-align:center" class="h2 scene_element scene_element--fadein">{{ userData.name }}'s Stock Portolio</h1><br>
            <div class="w3-row w3-center" style="text-align:center;">
                <div class="w3-col s6 w3-center">
                    <div style="font-family:BI">
                        <button id="addListButton" type="button">Add</button>
                        <br>
                        <select multiple id="addStockList" placeholder="Select Stocks" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "useCustomScroll": true, "multipleCompactStyle": true}'></select>
                        <br>
                        <button id="removeListButton" type="button">Remove</button>
                        <br>
                        <select multiple id="removeStockList" placeholder="Select Stocks" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "useCustomScroll": true, "multipleCompactStyle": true}'></select>
                    </div>
                </div>
                <div class="w3-col s6 w3-center">
                    <div id="stockColorKey" class="scene_element scene_element--fadeinleft" style="margin-left: auto;
    margin-right: auto; font-family: BI; width:400px"></div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col s6 w3-center">
                    <div id="userST" class="scene_element scene_element--fadeinleft" style="font-family: BI"></div>
                </div>
                <div class="w3-col s6 w3-center">
                    <div id="x1" class="scene_element scene_element--fadeinup" style="font-size: medium; font-family: BI; width:100%"></div>
                </div>
            </div>
        </div>
        <div id="IndividualDashboard" class="pTab" style="display: none; font-family: BI">
        </div>
        <div id="FullDashboard" class="pTab" style="display: none; font-family: BI;">
            <h1 style="text-align:center" class="h2 scene_element scene_element--fadein">{{ userData.name }}'s Dashboard</h1><br>
            <div id="dashRows" class="scene_element scene_element--fadeinup">
            </div>
        </div>
    </div>
    <script type="text/javascript">
    function openDTab(name) {
        var i;
        var x = document.getElementsByClassName("pTab");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        document.getElementById(name).style.display = "block";
    }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vex-js/4.1.0/js/vex.combined.min.js"></script>
    <script>
    vex.defaultOptions.className = 'vex-theme-os'
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vex-js/4.1.0/css/vex.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vex-js/4.1.0/css/vex-theme-os.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.4.3/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.4.3/js/tabulator.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.4.3/js/jquery_wrapper.min.js"></script>
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    </div>
    <script src="/static/js/profile.js"></script>
    <script src="/static/js/main.js"></script>
</body>
{% endblock %}