{% extends "layout.html" %}
{% block body %}
<body>
    <div id="main" class="m-scene">
        <div class="scene_element scene_element--fadeinup scene_element--fadeinright-wide">
            <div>
                <h1 class="h2" style="position:relative;text-align: center">Contact</h1>
            </div>
        </div>
        <div class="scene_element scene_element--fadeinleft" style="width:50%;  margin-left: auto;
    margin-right: auto;">
            <p class="homePageText" style="position:relative; top:150; text-align: center; font-size: 16px !important; font-family: BI">
                To learn more, please email us at stockenex@stockenex.com or call us at (999)-999-9999.
            </p>
        </div>
    </div>
</body>
{% endblock %}