{% extends "layout.html" %}
{% block body %}
<body>
    <div id="main" class="m-scene">
        <div class="scene_element scene_element--fadein">
            <h1 class="h2" style="position:relative; top: 150px; text-align: center">Stock En Ex</h1>
        </div>
        <div class="scene_element scene_element--fadeinleft">
            <p class="homePageText" style="position:relative; top: 150px; font-size: 16px !important; font-family: BI"> A Platform of <br> Exigent Intelligence </p>
        </div>
    </div>
</body>
{% endblock %}