<!doctype html>
<title>Stockenex</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/keyClass.css">
    <link rel="stylesheet" href="/static/css/animation.css">
    <link rel="stylesheet" href="/static/css/fonts/fonts.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
      <div class="w3-bar" style="font-family:BI; color:white">
        {% if not session.logged_in%}
        <a href="{{ url_for('home_bp.index') }}" class="w3-bar-item w3-button w3-hover-blue"><i class="fa fa-home"></i></a>
        {% else %}
        <a href="{{ url_for('profile_bp.profile') }}" class="w3-bar-item w3-button w3-hover-blue"><i class="fa fa-home"></i></a>
        {% endif %}
        <a href="{{ url_for('home_bp.about') }}" class="w3-bar-item w3-button w3-hover-blue">About</a>
        <a href="{{ url_for('home_bp.contact') }}" class="w3-bar-item w3-button w3-hover-blue">Contact</a>
        <a href="{{ url_for('home_bp.register') }}" class="w3-bar-item w3-button w3-hover-blue">Register</a>
        {% if not session.logged_in %}
        <a href="{{ url_for('home_bp.login') }}" class="w3-bar-item w3-button w3-hover-blue">Login</a>
        {% else %}
        <a href="{{ url_for('home_bp.logout') }}" class="w3-bar-item w3-button w3-hover-blue">Logout</a>
        {% endif %}
    </div>
  {% for message in get_flashed_messages() %}
    <div style="font-family:BI; color:white; text-align:center"></div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>