{% extends "layout.html" %}
{% block body %}
<body>
    <div id="main" class="m-scene">
        <div class="w3-container w3-center scene_element scene_element--fadeinright-wide">
            <h2 id="userStocksTitleHeader" class="h2" style="font-family: BI; color:white">Stocks</h2>
        </div>
        <div class="w3-row">
            <div class="w3-col s6 w3-center">
                <div id="userST" class="scene_element scene_element--fadeinleft" style="font-family: BI"></div>
            </div>
            <div class="w3-col s6 w3-center">
                <div id="stockColorKey" class="scene_element scene_element--fadeinleft" style="font-family: BI"></div>
                <div id="x1" class="scene_element scene_element--fadeinup" style="font-size: medium; font-family: BI; width:100%"></div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <link rel="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vex-js/4.1.0/js/vex.combined.min.js"></script>
        <script>
        vex.defaultOptions.className = 'vex-theme-os'
        </script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vex-js/4.1.0/css/vex.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vex-js/4.1.0/css/vex-theme-os.min.css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.4.3/css/tabulator.min.css" rel="stylesheet">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.4.3/js/tabulator.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.4.3/js/jquery_wrapper.min.js"></script>
        <script src="/assets/js/utils/hostIP.js"></script>
        <script src="/assets/js/utils/stockColorKeyTabulator.js"></script>
        <script src="/assets/js/dashboard/dashboardHandler.js"></script>
        <script src="/assets/js/dashboard/dashboard.js"></script>
    </div>
</body>
{% endblock %}